<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>스프링 로그인 수업</title>
    <th:block th:insert="fragment/headerNav :: head"></th:block>
</head>
<body>
    <header th:insert="fragment/headerNav :: nav"></header>
    <div class="container">
        <h1 class="text-center mt-5">스프링 SPA jwt 로그인 수업</h1>
        <div>
            <h2 class="text-center mt-5">로그인 양식</h2>
            <form id="loginForm" action="/user/jwt/login.do" method="post" style="width: 400px" class="mx-auto">
                <div class="form-floating mb-3">
                    <input type="text" name="id" class="form-control" id="floatingInput" placeholder="USER ID">
                    <label for="floatingInput">USER ID</label>
                </div>
                <div class="form-floating">
                    <input type="password"  name="pw" class="form-control" id="floatingPassword" placeholder="USER PW">
                    <label for="floatingPassword">USER PW</label>
                </div>
                <div class="mt-3 text-end">
                    <a class="btn btn-lg btn-outline-primary" href="/user/signup.do">회원가입</a>
                    <button class="btn btn-lg btn-success">로그인</button>
                </div>
            </form>

        </div>
    </div>
<script>
    const loginForm = document.getElementById("loginForm")
    const LOGIN_URL = "/user/jwt/login.do";
    loginForm.onsubmit = async (e)=>{
        e.preventDefault();
        const formData = new FormData(loginForm); // 폼 데이터를 가져옴

        // entries [id, 경민], [pw,1234] => {id:경민, pw:1234} => {\"id\":\"진영\"}
        const formDataObj = Object.fromEntries(formData.entries());
        const response = await fetch(LOGIN_URL,{
            method :'POST',
            headers : {"Content-Type" : "application/json"},
            body: JSON.stringify(formDataObj),
        });
        // 성공 : 200 {"jwt" : "12231231asfda132"}
        // 실패 : 403
        if(response.ok){
            const jwtObj = await response.json();
            localStorage.setItem("jwt", jwtObj.jwt); // 저장
            // localStorage.getItem("jwt"); // 가져올 때
            return;
        }
        alert("아이디 비밀번호를 확인하세요")
    }

</script>
</body>
</html>